<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando Obra...</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" th:href="@{/css/generalesObra.css}">
</head>
<body>

    <header class="topbar">
        <div class="topbar-left">
            <div class="logo-container">
                <img th:src="@{/img/logo.jpeg}" alt="Logo OM" class="topbar-logo">
            </div>
            <div class="brand-info">
                <h1 class="topbar-title">OM Diseño y Construcción</h1>
                <span class="view-subtitle">Gestión de Proyectos</span>
            </div>
        </div>
        <div class="topbar-right">
            <a th:href="@{/obras}" class="btn-back">
                <span class="icon">←</span> Volver al Panel
            </a>
        </div>
    </header>

  <main class="main-content">

    <div class="page-subheader">
      <div class="title-container">
        <h2>
          DETALLE DE PROYECTO:
          <span id="nombreObra" class="obra-highlight"></span>
        </h2>
      </div>
    </div>

    <section class="info-section">
      <table class="tabla-generales">
        <tr>
          <td class="etiqueta">PROGRAMA</td>
          <td class="valor-azul">
            <span id="fechaInicio"></span> al
            <span id="fechaFin"></span>
          </td>

          <td class="etiqueta">MONTO ACORDADO</td>
          <td class="valor-azul">
            <span id="monto"></span>
          </td>
        </tr>

        <tr>
          <td class="etiqueta">RESPONSABLES</td>
          <td class="valor-texto">
            G: <span id="gerente"></span> |
            R: <span id="residente"></span>
          </td>

          <td class="etiqueta">ESTADO ACTUAL</td>
          <td class="valor-azul small">
            <span id="status"></span>
          </td>
        </tr>
      </table>
    </section>

    <div class="documentos-base-container">
      <h3 class="section-title">Documentación de Obra</h3>

      <div id="documentosGrid" class="documentos-grid"></div>

    </div>

  </main>
        <script src="/js/detalleObra.js"></script>
</body>
</html>
